body{
    background-color:red;)
}

body header h1 {
    text-align:center ;
    color:white
}

nav{
    border: 3px solid black
}
nav ul li
{display: inline-block;
    margin-right:50px;
    margin-top:20px
}
ul li a {
    text-decoration: none;color:white
}

.Duha{
    color:hsl(50, 50%, 40%);
}
img { width: 50%}

footer {text-align:center}